# Entornos virtuales
.venv/
env/
venv/

# Datos procesados (se generan con src/limpieza.py)
data/processed/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
